<% content_for :title, "Editing proyect" %>

<h1>Editing proyect</h1>

<%= render "form", proyect: @proyect %>

<br>

<div>
  <%= link_to "Show this proyect", @proyect %> |
  <%= link_to "Back to proyects", proyects_path %>
</div>
