<p style="color: green"><%= notice %></p>

<% content_for :title, "Proyects" %>

<h1>Proyects</h1>

<div id="proyects">
  <% @proyects.each do |proyect| %>
    <%= render proyect %>
    <p>
      <%= link_to "Show this proyect", proyect %>
    </p>
  <% end %>
</div>

<%= link_to "New proyect", new_proyect_path %>
